<div class="row" dir="rtl">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title float-right"> מוצרים</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive" style="text-align: right;max-height: 65vh;overflow: scroll;">
          <input type="text" id="myInput" onkeyup="searchTable()" placeholder="חיפוש לפי שם">
          <table class="table" id="products_table">
            <thead class=" text-primary">
              <th>
                שם המוצר
                <!-- <i class="fa fa-chevron-down" style="cursor: pointer;" onclick="sortTable(0)"></i> -->
              </th>
              <th>
                קטגוריה
                <i class="fa fa-chevron-down" style="cursor: pointer;" onclick="sortTable(1)"></i>
              </th>
              <th>
                מחיר
                <i class="fa fa-chevron-down" style="cursor: pointer;" onclick="sortTable(2)"></i>
              </th>
              <th class="text-right">
                מלאי
                <i class="fa fa-chevron-down" style="cursor: pointer;" onclick="sortTable(3)"></i>
              </th>
              <th>
                פעולות
              </th>
            </thead>
            <tbody>
              <% products.forEach((product) =>{ %>
              <tr>
                <td>
                  <%=product.name%>
                </td>
                <td>
                  <%=product.category.name%>
                </td>
                <td>
                  <%=product.price%>
                </td>
                <td class="text-right">
                  <%=product.stock%>
                </td>
                <td>
                  <a href="javascript:void()" class="fa fa-trash mx-1" style="font-size: 1.3rem;"></a>
                  <a href="#" onclick="editItem('<%=product._id%>')" class="fa fa-edit mx-1"
                    style="font-size: 1.3rem;"></a>
                  <a href="javascript:void()" class="fa fa-info mx-1" style="font-size: 1.3rem;"></a>
                </td>
              </tr>
              <%})%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header">
        <h4 class="card-title"> Table on Plain Background</h4>
        <p class="card-category"> Here is a subtitle for this table</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Name
              </th>
              <th>
                Country
              </th>
              <th>
                City
              </th>
              <th class="text-right">
                Salary
              </th>
            </thead>
            <tbody>
              <tr>
                <td>
                  Dakota Rice
                </td>
                <td>
                  Niger
                </td>
                <td>
                  Oud-Turnhout
                </td>
                <td class="text-right">
                  $36,738
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> -->
</div>

<script>
  function sortTable(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("products_table");
    switching = true;
    dir = "asc";
    while (switching) {
      switching = false;
      rows = table.rows;
      for (i = 1; i < (rows.length - 1); i++) {
        shouldSwitch = false;
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        if (dir == "asc") {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            shouldSwitch = true;
            break;
          }
        } else if (dir == "desc") {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            shouldSwitch = true;
            break;
          }
        }

      }
      if (shouldSwitch) {
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        switchcount++;
      } else {
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }

  function searchTable() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("products_table");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>